<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <form [formGroup]="signUpForm" class="auth-form" (ngSubmit)="signUp()" >
      <app-custom-input 
        icon="person-outline"
        label="Nombre de usuario"
        type="text"
        [control]="username"
      ></app-custom-input>

      <div class="validators" *ngIf="getErrorMessage(username)">
        {{ getErrorMessage(username) }}
      </div>

      <app-custom-input 
        icon="mail-outline"
        label="Email"
        type="email"
        [control]="email"
      ></app-custom-input>

      <div class="validators" *ngIf="getErrorMessage(email)">
        {{ getErrorMessage(email) }}
      </div>

      <app-custom-input 
        icon="lock-closed-outline"
        label="Password"
        type="password"
        [control]="password"
      ></app-custom-input>

      <div class="validators" *ngIf="getErrorMessage(password)">
        {{ getErrorMessage(password) }}
      </div>
      <ion-button 
        expand="block" 
        mode="ios" 
        class="submit" 
        type="submit" 
        [disabled]="signUpForm.invalid"
      >
        Registrate
        <ion-icon 
          slot="end"
          name="person-add-outline"
        ></ion-icon>
      </ion-button>

      <ion-button class="ion-margin-top" routerLink=".." expand="block" mode="ios" fill="outline">
        Inicia sesión
        <ion-icon 
          slot="end"
          name="log-in-outline"
        ></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
